/* shared  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header{
    background-image: url("../images/developer.png") , url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left top , right bottom;
}
* {
    font-family: "Open Sans";
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding: 18px 35px;
}

.Dark-01{
    color: #181818;
}

.Dark-02 {
    color: #474747;
}

/* nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 10px 226px; */
     
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {

    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav li {
    list-style: none;
    margin-right: 51px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* nav li  * {
    color: #474747;
     

} */
/* banner style */
.baner{
    display: flex;
    margin: 0 35px 0 230px;
    justify-content: space-around;
    align-items: center;
}
.baner-container{
    max-width: 580px;

}
.baner-pic{
    max-width: 580px;
}

.baner-greeting {

    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.baner-title {
    
    font-family: "Open Sans";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}